/*
Theme Name: Ledscherm-online
Theme URI: https://www.webandappeasy.com    
Author: Web & App Easy
Author URI: https://www.webandappeasy.com 
Description: Ledscherm-online is een prachtig thema op je eigen slideshow te maken. Dit thema is in ontwikkelfase.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: custom, slideshow, slideshows, slide-show, ledscreen, timed slideshow, events, advertisement, activities
*/
* {
  margin: 0;
  padding: 0;
}
/* Led show general styling */
.single-slideshows {
  background-color: black;
  color: white;
  position: absolute;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}
.single-slideshows p {
  font-family: Arial, sans-serif;
  display: inline;   
} 
.owl-carousel {
  font-size: 150%
}
.image {
  background-size: cover;
  background-position: center;
}
.date {
  position: relative;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  margin-left: 2%;
  border-radius: 0 0 5px 5px;
  width: fit-content;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.datenr {
  font-size: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 90%;
}
.month {
  font-size: 70%;
  text-align: center;
  margin: 0;
  padding: 0;
  
} 
.caption {
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
  width: fit-content;
  align-self: center;
  margin: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  
}
.bottom_information {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  
}
#black {
  background-color: black;
}
.myVideo {
  display:none;
}

/* Home page styling */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */
body#features {
  height: auto!important;
  display: -ms-flexbox;
  display: flex;
  color: #fff ;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: #333!important;
}

body#homepage {
  height: 100vh!important;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85)), url("/wp-content/themes/ledscherm-online/includes/owlcarousel/docs/assets/img/joshua-earle-X_roZ7toBJY-unsplash.jpg")!important;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  color: #fff ;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: #333;
  
}
body#documentation {
  background-color: #333;
}
body#contact {
  background-color: #333;
}

/*body {
  display: -ms-flexbox;
  display: flex;
  color: #fff ;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}*/

.cover-container {
  max-width: 90%;
  max-width: 1380px;
}
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

